@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*, html, body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    box-sizing: border-box;
    max-width: 1995px;
    margin: auto;
}
.show{
    opacity: 1 !important;
    transition: all 1s !important;
}
.hidden{
    opacity: 0;
    transition: all 1s;
}
/*----------*/

#load{
    display: flex;
	align-items: center;
	justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.loading {
	height: 160px;
	width: 170px;
	margin: 0px;
	padding: 0px;
    position: relative;
}
.circle {
	border: 5px transparent solid;
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 69%;
}
.white {
	top: 0px;
	border-top: 5px white solid;
	animation-delay: 4s;
	animation: white 1.5s infinite;
}
.cyan:after {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background: cyan;
	border-radius: 69%;
	right: 5px;
	top: 10px;
	box-shadow: 0px 0px 20px cyan;
}
.cyan:before {
	content: " ";
	width: 5px;
	height: 5px;
	position: absolute;
	background: cyan;
	top: 10px;
	left: 11px;
	border-radius: 69%;
}
.orange {
	left: 0px;
	bottom: 0px;
	border-top: 5px #f7a553 solid;
	animation: orange 1.5s infinite;
}
.orange:after {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background: #f7a553;
	border-radius: 69%;
	right: 5px;
	top: 10px;
	box-shadow: 0px 0px 20px #f7a553;
}
.orange:before {
	content: " ";
	width: 5px;
	height: 5px;
	position: absolute;
	background: #f7a553;
	top: 10px;
	left: 11px;
	border-radius: 69%;
}
.sceColor {
	right: 0px;
	bottom: 0px;
	border-top: 5px #FFDCBA solid;
	animation: sceColor 1.5s infinite;
}
.sceColor:after {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	background: #FFDCBA;
	border-radius: 69%;
	right: 5px;
	top: 10px;
	box-shadow: 0px 0px 20px #FFDCBA;
}
.sceColor:before {
	content: " ";
	width: 5px;
	height: 5px;
	position: absolute;
	background: #FFDCBA;
	top: 10px;
	left: 11px;
	border-radius: 69%;
}
@keyframes white {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes orange {
	0% {
		transform: rotate(240deg);
	}
	100% {
		transform: rotate(600deg);
	}
}
@keyframes sceColor {
	0% {
		transform: rotate(120deg);
	}
	100% {
		transform: rotate(480deg);
	}
}
.p_loading{
	font-family: roboto, sans-serif;
	color: #eee;
	position: absolute;
	top: 175px;
	font-size: 1.5em;
	letter-spacing: 0.15em;
	font-weight: 100;
	filter: drop-shadow(2px 2px 15px #ffffff70);
}
/*----------HEADER-----------*/
.paddingR{
    padding-right: 11px;
}
.dis_none{
    display: none !important;
    transition: .5s;
}
.header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #FFDCBA;
}

img.img_logo {
    width: 221px;
}

.Logo {
    width: 71%;
    background: black;
}

.navBar ul li {
    position: relative;
    display: block;
    padding-right: 35px;
}

.navBar ul {
    display: flex;
    margin: 0 !important;
}

.navBar {
    margin: auto 0;
}

.navBar li a {
    position: relative;
    padding: 18px;
    color: black;
    text-decoration: none;
    transition: .5s;
}

.navBar li a::before {
    position: absolute;
    content: '';
    width: 0%;
    top: 4px;
    height: 2px;
    background-color: white;
    transition: .5s;
}

.navBar li a:hover::before{
    width: 40%;
    transition: .5s;
}

.navBar li a:hover {
    color: white;
    font-weight: bold;
    transition: .5s;
}
.menu_mobile {
    color: black;
    font-size: 35px;
    display: none;
    text-align: end;
    margin-right: 86px;
}
.menu_join {
    display: flex;
}
.join {
    margin: auto;
    margin-right: 69px;
}

button.btn_join {
    padding: 10px 21px;
    background-color: white;
    color: #FFDCBA;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header_top {
    display: flex;
    justify-content: space-evenly;
    padding: 18px 0;
}

button.btn_join:hover .dis_none{
    display: inline-block !important;
    transition: .5s;
}
/*------------------------------------------*/
.topContent{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 120.5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    animation: animetedTop .5s 1;
}
@keyframes animetedTop {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}
.title{
    margin-bottom: 7px;
    color: #FFDCBA;
    font-family: 'Dancing Script', cursive;
    font-size: 191px;
}
p.details {
    color: white;
    margin: auto;
    font-size: 21px;
    width: 56%;
}

.content {
    text-align: center;
}

button.btn_join_now {
    margin-top: 34px;
    padding: 18px 34px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background: #FFDCBA;
    cursor: pointer;
    font-size: 15px;
}
/*--ABOUT---*/
.bg_img{
    position: relative;
    display: flex;
    justify-content: center;
}
.de_square {
    position: absolute;
    top: 38px;
    left: 129px;
    width: 58%;
    height: 73%;
    background-color: black;
}
.span_ed{
    font-weight: bold;
    color: #f7a553;
}
.bg_img img {
    margin: 58px 76px;
    margin-right: 0;
    width: 58%;
    position: relative;
}
.abo_P{
    display: flex;
    padding-top: 72px;
}
.about_det h3 {
    position: relative;
    font-size: 61px;
    font-family: 'Dancing Script', cursive;
    transition: .5s;
    margin-bottom: 24px;
}
.about_det h3:hover {
    color: #f7a553;
    font-weight: bold;
    transition: .5s;
}
.about_det h3::before {
    content: '';
    background-color: #FFDCBA;
    width: 0%;
    bottom: 4px;
    height: 2px;
    position: absolute;
    transition: .5s;
}
.about_det h3:hover::before {
    width: 12%;
    transition: .5s;
}
p.details_about {
    padding-bottom: 13px;
    width: 88%;
    text-align: justify;
}
button.book_now {
    padding: 15px 34px;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    margin-top: 16px;
    font-weight: bold;
    transition: .5s;
}
button.book_now:hover {
    background-color: #f7a553;
    transition: .5s;
}
/*------drag_drop--------*/
div#drag_drop {
    background-color: #f7a553;
    color: white;
    position: relative;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    width: 95%;
    margin: auto;
    margin-top: -50px;
}
.tit_drag_dp{
    font-size: 47px;
    text-align: center;
    padding-top: 37px;
}
.left_part_ad {
    padding: 72px;
    padding-top: 57px;
    text-align: center;
}
.tit_left_p {
    font-size: 30px;
    padding-top: 20px;
}
input.img_add {
    padding: 59px 46px;
    background-color: #b9b9b9;
    border-radius: 5px;
    margin: 18px 0;
}

button.btn_dd {
    padding: 15px 34px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #f7a553;
    color: white;
    cursor: pointer;
    margin-top: 16px;
    font-weight: bold;
    transition: .5s;
}
button.btn_dd:hover {
    color: black;
    background-color: #fff;
    transition: .5s;
}
.im_ed {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    background-color: white;
    padding: 26px;
    margin: auto;
    margin-top: 21px;
    border-radius: 5px;
    width: 474px;
    height: 338px;
    overflow: auto;
}
.im_ed img{
    width: 100%;
}
.show_img_c{
    display: grid;
    grid-template-columns: auto auto;
}
.imgs {
    position: relative;
}
form.delete {
    position: absolute;
    top: 2px;
    left: 6px;
}
button.btn_delete {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    transition: .5s;
}
button.btn_delete:hover {
    opacity: .7;
    transition: .5s;
}
/*----Albums-----*/
.carousel-inner {
    height: 434px;
    background-position: center;
    object-fit: cover;
}

/*---CONTACT----*/
.contact{
    display: flex;
    justify-content: center;
}
.info{
    background-color: #f7a553;
    color: white;
}

p.tit_info_con {
    font-weight: bold;
    padding-top: 29px;
    font-size: 22px;
}

p.detail_info {
    margin-left: 26px;
}
section.info {
    width: 33%;
    position: relative;
    margin-right: 15px;
    padding: 44px;
}

p.tit_info_con {
    font-weight: bold;
    padding-top: 29px;
    font-size: 22px;
}

p.detail_info {
    margin-left: 26px;
}

.title_co {
    position: relative;
    text-align: center;
    font-size: 61px;
    font-family: 'Dancing Script', cursive;
    margin: 21px 0px;
    transition: .5s;
}
.title_co:hover {
    color: #f7a553;
    font-weight: bold;
    transition: .5s;
}
.title_co::before {
    content: '';
    background-color: #FFDCBA;
    width: 0%;
    bottom: 4px;
    height: 2px;
    position: absolute;
    transition: .5s;
}
.title_co:hover::before {
    width: 12%;
    transition: .5s;
}
.input {
    position: relative;
    margin-top: 11px;
    padding: 13px 18px;
    width: 100%;
    border: 1px solid;
    outline: none;
    border-radius: 3px;
}
.input:focus {
    border: 1px solid #f7a553;
}
section.contactFor {
    margin-top: 20px;
    padding-bottom: 39px;
}
button.btn_contact {
    padding: 15px 34px;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    margin-top: 16px;
    font-weight: bold;
    transition: .5s;
}
button.btn_contact:hover {
    background-color: #f7a553;
    transition: .5s;
}
/*--------*/
.joinNow {
    background-color: #f7a553;
    color: white;
    padding: 70px 54px;
    display: flex;
    justify-content: space-between;
}
p.deta_joi {
    font-size: 66px;
    text-transform: uppercase;
    font-weight: bold;
}
.joinBtn {
    margin: auto 65px;
}
button.join_sectionOffe {
    padding: 15px 34px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #f7a553;
    color: white;
    cursor: pointer;
    margin-top: 16px;
    font-weight: bold;
    transition: .5s;
}
/*----Footer----*/
.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 62px 0px;
}

.list li a {
    color: black;
    text-decoration: none;
    padding: 14px;
    transition: .5s;
}
.list li a:hover {
    color: #f7a553;
    transition: .5s;
}
.list li:hover{
    transform: translateX(10px);
    transition: .5s;
}
.footer .list ul li {
    display: block;
    transition: .5s;
    padding-bottom: 8px;
}

section.logo_copy {
    width: 33%;
}
p.logo_p {
    font-size: 65px;
}

p.details_footer {
    padding: 27px 0px;
}

section.list {
    margin-top: 43px;
}

h4.tit_footer {
    font-size: 17px;
    padding-bottom: 11px;
}

/*---------------MEADIA QUERY---------------*/
@media(min-width:768px) and (max-width:1024px){
    .im_ed {      
        width: 302px;
    }
}
@media (min-width:481px) and (max-width:767px){
    .header_top {
        display: block;
        text-align: center;
    }
    .social_media {
        padding-bottom: 19px;
    }
    .menu_mobile {
        display: block !important;
    }
    .navBar ul {
        display: block;
        margin: 0 !important;
    }
    .navBar ul li {
        position: relative;
        display: block;
        padding: 33px;
        padding-bottom: 15px;
    }
    .join {
        margin: 0 !important;
        text-align: center;
    }
    .menu_join {
        display: none;
        height: 0;
        transition: all .5s;
    }
    .active{
        display: block;
        height: 100%;
        padding-bottom: 33px;
        transition: all .5s;
    }
    .title {
        font-size: 117px;
    }
    p.details {
        font-size: 16px;
        width: 79%;
    }
    .abo_P {
        display: block;
        padding-top: 72px;
    }
    .bg_img img {
        margin: 0 !important;
    }
    .about_det {
        text-align: center;
    }
    p.details_about {
        width: 82%;
        margin: auto;
    }
    .about_det {
        text-align: center;
        padding-bottom: 47px;
    }
    div#drag_drop {
        margin-top: -173px;
    }
    .show_img_c {
        display: block;
    }
    .im_ed {
        width: 393px;
    }
    .left_part_ad {
        padding: 0;
        padding-bottom: 38px;
    }
    input.img_add {
        padding: 59px 18px;
    }
    .contact {
        display: block;
        justify-content: center;
    }
    section.info {
        width: 100%;
    }
    section.contactFor {
        text-align: center;
    }
    .input {
        width: 92%;
    }
    .joinNow {
        display: block;
    }
    .footer {
        display: block;
        padding: 58px 0px;
        padding-bottom: 4px;
    }
    section.logo_copy {
        width: 91%;
        margin: auto;
    }
    section.list {
        margin-top: 43px;
        text-align: center;
    }
    .list ul {
        display: flex;
        justify-content: center;
    }
}
@media (max-width:480px){
    .header_top {
        display: block;
        text-align: center;
    }
    .social_media {
        padding-bottom: 19px;
    }
    .menu_mobile {
        display: block !important;
    }
    .navBar ul {
        display: block;
        margin: 0 !important;
    }
    .navBar ul li {
        position: relative;
        display: block;
        padding: 33px;
        padding-bottom: 15px;
    }
    .join {
        margin: 0 !important;
        text-align: center;
    }
    .menu_join {
        display: none;
        height: 0;
        transition: all .5s;
    }
    .active{
        display: block;
        height: 100%;
        padding-bottom: 33px;
        transition: all .5s;
    }
    .title {
        font-size: 117px;
    }
    p.details {
        font-size: 16px;
        width: 79%;
    }
    .abo_P {
        display: block;
        padding-top: 72px;
    }
    .bg_img img {
        margin: 0 !important;
    }
    .about_det {
        text-align: center;
    }
    p.details_about {
        width: 82%;
        margin: auto;
    }
    .about_det {
        text-align: center;
        padding-bottom: 47px;
    }
    div#drag_drop {
        margin-top: -173px;
    }
    .show_img_c {
        display: block;
    }
    .im_ed {
        width: 86%;
    }
    .left_part_ad {
        padding: 0;
        padding-bottom: 38px;
    }
    input.img_add {
        padding: 59px 18px;
        width: 68%;
    }
    .contact {
        display: block;
        justify-content: center;
    }
    section.info {
        width: 100%;
    }
    section.contactFor {
        text-align: center;
    }
    .input {
        width: 92%;
    }
    .joinNow {
        display: block;
    }
    .footer {
        display: block;
        padding: 58px 0px;
        padding-bottom: 4px;
    }
    section.logo_copy {
        width: 91%;
        margin: auto;
    }
    section.list {
        margin-top: 43px;
        text-align: center;
    }
    .list ul {
        display: flex;
        justify-content: center;
    }
}