@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*, html, body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    box-sizing: border-box;
    max-width: 1995px;
    margin: auto;
}
.show{
    opacity: 1 !important;
    transition: all 1s !important;
}
.hidden{
    opacity: 0;
    transition: all 1s;
}

/*---------------MEADIA QUERY---------------*/
@media(min-width:768px) and (max-width:1024px){
    .im_ed {      
        width: 302px;
    }
}
@media (min-width:481px) and (max-width:767px){
    .header_top {
        display: block;
        text-align: center;
    }
    .social_media {
        padding-bottom: 19px;
    }
    .menu_mobile {
        display: block !important;
    }
    .navBar ul {
        display: block;
        margin: 0 !important;
    }
    .navBar ul li {
        position: relative;
        display: block;
        padding: 33px;
        padding-bottom: 15px;
    }
    .join {
        margin: 0 !important;
        text-align: center;
    }
    .menu_join {
        display: none;
        height: 0;
        transition: all .5s;
    }
    .active{
        display: block;
        height: 100%;
        padding-bottom: 33px;
        transition: all .5s;
    }
    .title {
        font-size: 117px;
    }
    p.details {
        font-size: 16px;
        width: 79%;
    }
    .abo_P {
        display: block;
        padding-top: 72px;
    }
    .bg_img img {
        margin: 0 !important;
    }
    .about_det {
        text-align: center;
    }
    p.details_about {
        width: 82%;
        margin: auto;
    }
    .about_det {
        text-align: center;
        padding-bottom: 47px;
    }
    div#drag_drop {
        margin-top: -173px;
    }
    .show_img_c {
        display: block;
    }
    .im_ed {
        width: 393px;
    }
    .left_part_ad {
        padding: 0;
        padding-bottom: 38px;
    }
    input.img_add {
        padding: 59px 18px;
    }
    .contact {
        display: block;
        justify-content: center;
    }
    section.info {
        width: 100%;
    }
    section.contactFor {
        text-align: center;
    }
    .input {
        width: 92%;
    }
    .joinNow {
        display: block;
    }
    .footer {
        display: block;
        padding: 58px 0px;
        padding-bottom: 4px;
    }
    section.logo_copy {
        width: 91%;
        margin: auto;
    }
    section.list {
        margin-top: 43px;
        text-align: center;
    }
    .list ul {
        display: flex;
        justify-content: center;
    }
}
@media (max-width:480px){
    .header_top {
        display: block;
        text-align: center;
    }
    .social_media {
        padding-bottom: 19px;
    }
    .menu_mobile {
        display: block !important;
    }
    .navBar ul {
        display: block;
        margin: 0 !important;
    }
    .navBar ul li {
        position: relative;
        display: block;
        padding: 33px;
        padding-bottom: 15px;
    }
    .join {
        margin: 0 !important;
        text-align: center;
    }
    .menu_join {
        display: none;
        height: 0;
        transition: all .5s;
    }
    .active{
        display: block;
        height: 100%;
        padding-bottom: 33px;
        transition: all .5s;
    }
    .title {
        font-size: 117px;
    }
    p.details {
        font-size: 16px;
        width: 79%;
    }
    .abo_P {
        display: block;
        padding-top: 72px;
    }
    .bg_img img {
        margin: 0 !important;
    }
    .about_det {
        text-align: center;
    }
    p.details_about {
        width: 82%;
        margin: auto;
    }
    .about_det {
        text-align: center;
        padding-bottom: 47px;
    }
    div#drag_drop {
        margin-top: -173px;
    }
    .show_img_c {
        display: block;
    }
    .im_ed {
        width: 86%;
    }
    .left_part_ad {
        padding: 0;
        padding-bottom: 38px;
    }
    input.img_add {
        padding: 59px 18px;
        width: 68%;
    }
    .contact {
        display: block;
        justify-content: center;
    }
    section.info {
        width: 100%;
    }
    section.contactFor {
        text-align: center;
    }
    .input {
        width: 92%;
    }
    .joinNow {
        display: block;
    }
    .footer {
        display: block;
        padding: 58px 0px;
        padding-bottom: 4px;
    }
    section.logo_copy {
        width: 91%;
        margin: auto;
    }
    section.list {
        margin-top: 43px;
        text-align: center;
    }
    .list ul {
        display: flex;
        justify-content: center;
    }
}
